@use "Utilities";

input {
  border: none;
  border-radius: 40px;
  //   background-color: Utilities.$primary-color-light !important;
}

.login-right-section {
  background-color: Utilities.$primary-color-light !important;
}
