@use "Utilities";

/* Sidebar */
.sidebar-mobile {
  display: none;
  background-color: #50499c;
  color: white;
  height: 100vh;
  overflow-y: auto;
}

.hide {
  display: none;
}

// .search {
//   display: flex;
//   align-items: center;
//   margin: 10px 0;
//   height: 30px;
//   padding: 10px;
// }
// .search input {
//   border: none;
//   margin-left: 10px;
//   border-radius: 5px;
//   background: rgb(238, 238, 238);

//   color: white;
// }

.link-mobile {
  // border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.link-mobile:hover {
  background: $primary-color-light;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

@media screen and (max-width: 826px) {
  .sidebar-mobile {
    display: block;
  }
}
