// $bg-color: #faf7f7;
// $text-dark: #2b2c34;
// $text-light: #fffffe;
// $primary-color: #6246ea;
// $primary-color-light: #6146ea66;
// $secondary-color: #e45858;

$primary-bg-color: #faf7f7;
$secondary-bg-color: #fffffe;
$text-dark: #2b2c34;
$text-light: #fffffe;
$primary-color: #7569f8;
$primary-color-light: #7569f854;
$secondary-color: #e45858;
