// $bg-color: #faf7f7;
// $text-dark: #2b2c34;
// $text-light: #fffffe;
// $primary-color: #6246ea;
// $primary-color-light: #6146ea66;
// $secondary-color: #e45858;

$primary-bg-color: #faf7f7;
$secondary-bg-color: #fffffe;
$text-dark: #2b2c34;
$text-light: #fffffe;
$primary-color: #7569f8;
$primary-color-light: #7569f854;
$secondary-color: #e45858;

.app {
  background-color: rgb(230, 230, 230);
}
.sticky-top {
  top: 0;
  margin: 0;
  padding: 0;
}
.btn-add {
  background-color: white;
  border: 1px solid $primary-color;
  color: $primary-color;
}
.btn-add:focus {
  background-color: white;
  border: 1px solid $primary-color;
  color: $primary-color;
}

.btn-add:hover {
  background-color: $primary-color !important;
  color: white !important;

}

.dropdown-item.active, .dropdown-item:active {
  background-color: $primary-color;
}

.btn-main{
  background-color: $primary-color;

}

